.rezultat-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
